
<form class="max-w-sm mx-auto" [formGroup]="forms" (ngSubmit)="onSubmit()">
  <div class="mb-5 ">
    <label  class="block mb-2 text-2xl font-bold text-center text-gray-900 dark:text-white">Finalizar Compra</label>
  </div>

  <div class="mb-5">
    <label for="Pais" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Pais</label>
    <input type="Pais" id="nombre" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
     required
     formControlName="Pais"/>

     <div *ngIf="paisInvalido">
      <a class=" text-red-500 text-sm font-medium">Campo 'Pais' requerido.</a>
     </div>
  </div>

  <div class="mb-5">
    <label for="Cuidad" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cuidad</label>
    <input type="Cuidad" id="precio" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    required
    formControlName="Cuidad"/>
    <div *ngIf="cuidadInvalido">
      <a class=" text-red-500 text-sm font-medium">Campo "Cuidad" Requerido.</a>
     </div>
  </div>
  <div class="mb-5">
    <label for="Comuna" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Comuna</label>
    <input type="Comuna" id="stock" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    required
    formControlName="Comuna"/>
    <div *ngIf="comunaInvalido">
      <a class=" text-red-500 text-sm font-medium">Campo "Comuna" Requerido.</a>
     </div>
  </div>

  <div class="mb-5">
    <label for="Calle" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Calle</label>
    <input type="Calle" id="Calle" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    required
    formControlName="Calle"/>
    <div *ngIf="calleInvalido">
      <a class=" text-red-500 text-sm font-medium">Campo "Calle" Requerido.</a>
     </div>
  </div>


  <div class="mb-5">
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >Enviar</button>
  </div>

</form>


<div *ngIf="error">
  <div *ngFor="let error of errorMessage" class="text-red-500 text-sm font-medium mb-5 flex justify-center items-center">
    <a *ngIf="error" class="text-white text-sm font-medium">{{ error }}</a>
  </div>
</div>
